{%extends 'base.html'%}

{% block contenido %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-6 column">
			<div class="row clearfix">
				<div class="col-md-6 column">
					<img height="140" width="140" src="/static/icon/javier.jpg" />
				</div>
				<div class="col-md-6 column">
					<h3>
						<b>Javier López</b>
					</h3>
                    <p>
                        <ul>
                        <b>Carnet</b>: 11-10552 <br>
                       Estudiante del tercer año de carrera Ingeniería de la Computación
                       en la USB. Cursando Sistemas de Bases de Datos I y Sistemas de Operación I </ul>
                    </p>
				</div>
			</div>
			
            <h3>
                Lenguajes que manejo
            </h3>
            <p>
                <ul>
                    <li><b>Pascal</b>: Básico</li>
                    <li><b>Python</b>: Intermedio</li>
                    <li><b>Java</b>: Intermedio</li>
                    <li><b>MIPS Assembler</b>: Intermedio</li>
                    <li><b>C</b>: Intermedio</li>
                    <li><b>PostgreSQL</b>: Intermedio-Avanzado</li>
                </ul>
            </p>

            <h3>
                Herramientas que he utilizado
            </h3>
            <p>
                <ul>
                    <li><b>Mars (Nivel medio)</b>: Simulador de MIPS utilizado para correr programas escritos en Assembler</li>
                    <li><b>Eclipse y Android Studio (Nivel básico)</b>: IDE empleado en desarrollo de aplicaciones android </li>
                </ul>
            </p>

            <h3>
                Proyectos en los que he participado
            </h3>
            <p>
                <ul>
                    <li><b>Juego Parchis (Pascal)</b>: Juego de mesa similar al Ludo, desarrollado
                                                       con tablero a colores e interfaz gráfica 
                                                       sencilla para ser usado directamente en el terminal.
                    </li>
                    <li><b>Calculadora de Matrices (Python)</b>: Intérprete de comandos sencillos para
                                                            carga de matrices mediante de archivos de texto
                                                            y operaciones básicas entre las mismas.
                    </li> 
                    <li><b>Simulador de Planificador de procesos (Python)</b>: Desarrollo de un simulador de 
                                                                               colas de procesos sobre un procesador
                                                                               multinúcleos.
                    </li>
                    <li><b>Análisis estadístico de algoritmos clásicos (Python)</b>: Proyecto centrado en 
                                                            implementar los algoritmos de ordenamientos más conocidos
                                                            y realizar pruebas comparativas de tiempo entre cada uno
                                                            de ellos. Adicionalmente se realizaron pruebas similares
                                                            sobre algoritmos de conversión de árboles binarios a
                                                            arreglos.

                    </li> 
                    <li><b>Optimización de Sistema de comunicación de espias (Java)</b>: Aplicación de clausuras
                                                                    transitivas sobre grafos implentados como 
                                                                    listas de nodos. Soluciona el problema de envíos
                                                                    de mensajes en una red usando siempre el mínimo número
                                                                    de nodos intermediarios.
                    </li>
                    <li><b>Optimización de Rutas de transporte (Java)</b>: Implementación de algoritmos de caminos de
                                                        costo mínimos para analizar una redes de transporte de mercancía
                                                        con ganancias y cobro de peajes. En este proyecto se puede indicar
                                                        cuáles rutas son rentables para una compañía cualquiera.
                    </li>
                    <li><b>Programa de compresión LZW (MIPS ASM)</b>: 
                                                        <a href="https://github.com/javierlopm/LempelZivWelch">Proyecto de compresión</a> 
                                                        de datos mediante el algoritmo Lempel-Ziv-Welch
                                                        Este proyecto realizado casi por completo en solitario incluyó la
                                                        implementación de la estructura tabla de hash con sus respectivas
                                                        funciones. Esta estructura permite una compresión rápida sin 
                                                        pérdida.
                    </li>
                    <li><b>Juego Cuaimoniano invaders (MIPS ASM)</b>: Encargado de la interfaz gráfica del 
                                                        proyecto, haciendo uso de un simulador de pantalla
                                                        con mapa de bits en memoria. El juego consiste en una
                                                        adaptación del clásico juego Space Invaders. 
                    </li>
                    <li><b> Bases de Datos para Mr. Procesador (PostgreSQL)</b>: 
                                        Proyecto de diseño conceptual e implementación de una base
                                        de datos de fútbol para almacenar información relevante de partidos
                                        , copas, clubes, jugadores, entrenadores y eventos importantes para
                                        facilitar el cálculo de estadísticas de un periodista ficticio.
                    </li>
                    
                    <li><b> Criptografía concurrente (C)</b>: 
                                        Proyecto de Sistemas de Operación I en el cual se implementó de tres
                                        formas diferentes (secuencial, con forks y con threads) un algoritmo
                                        de encriptación y descifrado de cadenas de caracteres. Además 
                                        realicé un estudio comparativo de los tiempos de ejecución de cada uno
                                        de ellos con diferentes niveles de multiprogramación.
                    </li>

                    <li><b> Tic Tac Toe (Java/XML/Android)</b>: 
                                        Proyecto en solitario, en el que se desarolló una versión del juego
                                        Tic Tac Toe con una interfaz gráfica simple en XML.
                    </li>                    

                    <li><b> RamboRun (Java/XML/Android)</b>: 
                                        Juego creado en solitario e independiente a las actividades de la universidad
                                        asdkasdsnaadsanj ass
                    </li>
                    


                    </ul>
            </p>

				<a class="btn" href="#">View details »</a>
			</p>
		</div>

		<div class="col-md-6 column">
			<div class="row clearfix">
				<div class="col-md-6 column">
					<img height="140" width="140" src="/static/icon/carlos.jpg" />
				</div>
				<div class="col-md-6 column">
					<h3>
						<b>Carlos Martínez</b>
					</h3>
					<p>
						<ul>
						<b>Carnet</b>: 11-10584 <br>
						Estudiante de Ingeniería en Computación USB, actualmente cursando las 
						tres materias del noveno trimestre (Ingeniería de software, Sistemas de información y Traductores e Interpretadores)</ul>
					</p>
				</div>
			</div>
			<h3>
				Lenguajes que manejo
			</h3>
			<p>
				<ul>
					<li><b>Pascal</b>: Básico</li>
					<li><b>Python</b>: Intermedio</li>
					<li><b>Java</b>: Intermedio</li>
					<li><b>Assembler</b>: Intermedio</li>
					<li><b>C</b>: Intermedio</li>
					<li><b>PostgreSQL</b>: Intermedio-Avanzado</li>
				</ul>
			</p>
			<h3>
				Herramientas que he utilizado
			</h3>
			<p>
				<ul>
					<li><b>Mars (Nivel medio)</b>: Simulador de MIPS utilizado para correr programas escritos en Assembler</li>
					<li><b>Django (Nivel medio)</b>: Web Framework escrito en python para el desarrollo web</li>
					<li><b>Eclipse (Nivel medio)</b>: IDE. Utilizado para desarrollar en django con PyDev.</li>
				</ul>
			</p>
			<h3>
				Proyectos en los que he participado
			</h3>
			<p>
				<ul>
					<li><b>Juego CLUE (Pascal)</b>: Clásico juego CLUE desarrollado para la asignatura 
													Laboratorio de Algoritmos y Estructuras I. Adaptado
													para su funcionamiento en pantalla negra de comandos
													de Linux.</li>
					<li><b>Software de Manejo de Estacionamientos SciFi (Python)</b>: Desarrollado en la 
													asignatura Lab. de Algoritmos y Estructuras II. Consiste
													en el diseño y manejo de la estructura de datos necesaria
													para manejar estacionamientos ubicados en distintos espacios
													del universo accedidos a través de portales en distintas dimensiones.
													Proyecto hecho totalmente bajo mi autoría.</li>
					<li><b>Software de almacenamiento de datos robot FUKAI (Python)</b>: De nuevo bajo la 
													creatividad de mis profesores del Lab de Algoritmos II este
													proyecto consistía en el desarrollo de la estructura de datos para
													un robot ficticio que exploraba los fondos del océano leyendo secuencias
													de bases nitrogenadas de organismos que habitan el lecho marino y almacenándolos
													en una estructura de árbol.</li>
					<li><b>8-puzzle Solver con A* (Java)</b>: Proyecto del Lab de Algoritmos 3 que consiste en un programa
													que resuelve el conocido 8-puzzle utilizando el algoritmo de A*.
													Proyecto hecho totalmente bajo mi autoría.</li>
					<li><b>Algoritmo Merge Sort utilizando procesos de Linux (C)</b>: En el curso Sistemas de Operación I desarrollé un 								programa que dada una lista
													de enteros y un número de niveles los ordenaba utilizando Merge Sort donde cada recursión era un proceso nuevo creado el cual al volver a dividir la secuencia de enteros era con otros dos nuevos procesos. Al cumplir el número de niveles los procesos hojas ordenaban con quick sort para después devolver a su proceso padre la secuencia ordenada, quienes mezclaban y repetían hasta llegar al proceso inicial quien devolvía la lista completa ordenada.</li>
					<li><b>Sistema manejador de disco duro de tipo FAT (Assembler)</b>: Organización del Computador. Software escrito en 								en assembler y probado bajo el software Mars.</li>
					<li><b>Base de datos para compañía ficticia de telefonía (PostgreSQL)</b>: Para la materia Laboratorio de Bases de 	Datos I participé en el desarrollo de la base de datos de una compañía inventada de telefonía utilizando el lenguaje PostgreSQL</li>
					<li><b>Sistema Automatizado de Gestión de Estacionamientos SAGE (Django)</b>: Para la materia Ingeniería de Software 								actualmente me encuentro participando en el desarrollo de este sistema que consiste en la reserva de puestos en estacionamientos registrados en el mismo utilizando el framework de webdev Django utilizando las técnicas impuestas por los profesores para aprender los fundamentos de la ingeniería del software.</li>
				</ul>
			</p>
                        
            <h3>
                Adicional
            </h3>
			<p>
			<ul>
				Entusiasta de <b>Arduino</b>. Desarrollo de diversos proyectos básicos utilizando componentes electrónicos para arduino y actualmente desarrollando (cuando hay tiempo) un robot de obstacle avoidance.
			</ul>
			</p>
			<p>
				<a class="btn" href="#">View details »</a>
			</p>
		</div>
	</div>
</div>

{% endblock %}