{%extends 'base.html'%}

{% block contenido%}
<h1> Check my url! </h1>
    <form action="/checkit/" method="GET">
    {% csrf_token %}
        <div class="form-group">
          <input type="url" name="your_url" size="20" class="form-control" placeholder="Enter your url here...">
        </div>
    <p><input type="submit" value="Check! &raquo;" class="btn btn-primary btn-lg"></p>
</form>
{% endblock %}

{% block onfooter %} 
    <div class="col-md-4">
      <h2>How to use</h2>
      <p>Copy some URL and check if it is down for everyone or just for you. </p>
    </div>
{% endblock %}